<div class="toolbar-div">
  <div class="container">
    <mat-toolbar>
      <button mat-icon-button color="accent" aria-label="Open Apps menu">
        <mat-icon>apps</mat-icon><span class="sr-only">Apps</span>
      </button>
      <img src="./logo_mint.svg" alt="Mint - Identity Management" width="152" height="28">
      <div style="display:flex; margin-left: 16px; gap: 6px">
        <button mat-flat-button color="accent" aria-label="Go to search page"><mat-icon>search</mat-icon>Search</button>
        <mat-divider vertical="vertical" style="opacity:0.12; margin: 4px 0;"></mat-divider>
        <button mat-flat-button color="accent" aria-label="Open Identities menu">Identities</button>
        <button mat-flat-button color="accent" aria-label="Open Attributes menu">Attributes</button>
        <button mat-flat-button color="accent" aria-label="Open Crops and Owners menu">Crops and Owners</button>
        <button mat-flat-button color="accent" aria-label="Open Help menu">Help</button>
      </div>
      <span class="h-spacer"></span>
      <button mat-icon-button color="accent" aria-label="Go to support page">
        <mat-icon>report</mat-icon><span class="sr-only">Support</span>
      </button>
      <button mat-flat-button color="accent" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
        <div style="text-align: left;line-height: 14px;">John Doe<br /><small>s1234567890</small></div>
      </button>
    </mat-toolbar>
  </div>
</div>


<ng-content></ng-content>

