<div class="nav-bar-div">
  <div class="container">
    <div class="nav-bar">
      <mat-tab-group mat-stretch-tabs="false" selectedIndex="1" mat-align-tabs="start" animationDuration="0"
        style="width: 100%;">
        <mat-tab labelClass="nav-title" disabled="true">
          <ng-template mat-tab-label>
            <a mat-icon-button class="tab-title-button" href="../"><mat-icon>arrow_back</mat-icon>
            </a><span>Chips</span>
          </ng-template>
        </mat-tab>
        <mat-tab label="Examples" aria-selected="true" #tab1>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>


<div class="content-div">
  <div class="container">
    <div [ngStyle]="{ display: !tab1.isActive ? 'none' : null }">
      <div style="display:flex; gap: 16px">
        <mat-card appearance="outlined" style="flex: 1 1 auto">
          <mat-card-content>
            <div class="card-top">
              <h3 class="card-title">Chips</h3>
            </div>
            <div class="card-middle">


              <section>
                <div class="example-label">Static chips</div>
                <div class="example-row">
                  <div class="scroll-nowrap">
                    <mat-chip-set aria-label="Query example">
                      <mat-chip disableRipple="true">Batch</mat-chip>
                      <mat-chip disableRipple="true">Any crop</mat-chip>
                      <mat-chip-set>
                        <mat-chip disableRipple="true">A is equal to B</mat-chip>
                        <mat-chip disableRipple="true" class="small">AND</mat-chip>
                        <mat-chip disableRipple="true">B is equal to C</mat-chip>
                      </mat-chip-set>
                      <mat-chip disableRipple="true" class="small">AND</mat-chip>
                      <mat-chip-set>
                        <mat-chip disableRipple="true">A is equal to B</mat-chip>
                        <mat-chip disableRipple="true" class="small">AND</mat-chip>
                        <mat-chip disableRipple="true">B is equal to C</mat-chip>
                      </mat-chip-set>
                    </mat-chip-set>
                  </div>
                </div>
              </section>



              <section>
                <div class="example-label">Chips Drag and Drop</div>
                <div class="example-row">
                  <div>
                    <mat-chip-grip aria-label="Query example" cdkDropList
                    cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event)" style="display: flex; gap: 10px">
                    @for (vegetable of vegetables(); track vegetable.name) {
                      <mat-chip disableRipple="true" cdkDrag style="overflow: hidden;">{{vegetable.name}}</mat-chip>
                    }
                    </mat-chip-grip>
                  </div>
                </div>
              </section>



              <section>
                <div class="example-label">Chips Drag and Drop with Remove</div>
                <div class="example-row">
                  <div class="scroll-nowrap">
                    <mat-chip-grip aria-label="Query example"  cdkDropList
                    cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event)">
                    @for (vegetable of vegetables(); track vegetable.name) {
                      <mat-chip disableRipple="true" cdkDrag>{{vegetable.name}} <button matChipRemove [attr.aria-label]="'remove ' + vegetable.name">
                        <mat-icon>cancel</mat-icon>
                      </button></mat-chip>
                    }
                    </mat-chip-grip>
                  </div>
                </div>
              </section>

            </div>
            <div class="card-bottom"></div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>